flujos-n8n/multiagente/subagente-productos.json
{
  "name": "POS Moon - Productos",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agenteproductos",
        "options": {}
      },
      "id": "26953c05-2cfd-5b80-8f26-98b706a073a1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        288,
        -16
      ],
      "webhookId": "98104343-ad47-4b1d-8f54-40535f783c9a"
    },
    {
      "parameters": {},
      "id": "9fcc49b4-d964-5681-ba53-2079104b798e",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        288,
        208
      ]
    },
    {
      "parameters": {
        "mode": "multiplex",
        "options": {}
      },
      "id": "c2a5d88b-b7ff-5050-8502-684a83dccb09",
      "name": "Merge Triggers",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        512,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extraer pregunta del input\nconst input = $input.first().json;\n\n// Buscar la pregunta en diferentes campos posibles\nlet question = '';\nif (input.originalQuestion) {\n  question = input.originalQuestion;\n} else if (input.chatInput) {\n  question = input.chatInput;\n} else if (input.body && input.body.chatInput) {\n  question = input.body.chatInput;\n} else if (input.body && input.body.text) {\n  question = input.body.text;\n} else if (input.text) {\n  question = input.text;\n} else if (input.question) {\n  question = input.question;\n} else if (typeof input === 'string') {\n  question = input;\n} else {\n  // Último recurso: buscar cualquier campo de texto\n  question = JSON.stringify(input);\n}\n\nreturn [{\n  json: {\n    chatInput: question\n  }\n}];"
      },
      "id": "f2c89d01-630e-570e-bd9d-51b2dbdb22ce",
      "name": "Prepare Question",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        96
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Prompt para productos"
        }
      },
      "id": "6a6260b7-c81e-58c2-99f5-cac4fdc1403b",
      "name": "Agente de Productos",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        960,
        96
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "7cc9fd50-368c-5dcc-bcce-cb26c45079cf",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        976,
        320
      ]
    },
    {
      "parameters": {},
      "id": "b08fb5ad-ad94-5ac9-a819-d6233ee852bc",
      "name": "Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        464,
        320
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5c136ffe-5e4e-5466-9d8b-a75fd490cfe2",
      "name": "MySQL Tool",
      "type": "@n8n/n8n-nodes-langchain.toolSql",
      "typeVersion": 1,
      "position": [
        464,
        544
      ]
    },
    {
      "parameters": {},
      "id": "125f48da-8c7c-5015-ba9f-e30b006cab2f",
      "name": "Success",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1456,
        -16
      ]
    },
    {
      "parameters": {},
      "id": "552fdafe-f5ab-555b-9742-480e51fdfc04",
      "name": "Error",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1456,
        208
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Triggers": {
      "main": [
        [
          {
            "node": "Prepare Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Question": {
      "main": [
        [
          {
            "node": "Agente de Productos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente de Productos": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente de Productos",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "Agente de Productos",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "MySQL Tool": {
      "ai_tool": [
        [
          {
            "node": "Agente de Productos",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-12T00:00:00.000Z",
  "versionId": "0dbf8860-3482-40bf-803b-a3b3b04f2fb1"
}