extras/flujos-n8n/pos-moon-asistente-sql-dinamico.json
{
  "name": "POS Moon - Asistente Virtual SQL Dinámico",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "¡Hola! 👋 Soy el asistente virtual del Sistema POS Moon. Puedo ayudarte a consultar información de la base de datos usando lenguaje natural. ¿Qué necesitas saber?",
        "options": {
          "loadPreviousSession": "memory"
        }
      },
      "id": "b7c728f7-1587-4e6f-9e45-cc7f00601af0",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        432,
        -16
      ],
      "webhookId": "8a6df7b9-c875-4275-ab86-0475b401cb79"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "dbSchema",
              "value": "{\n  \"tables\": [\n    {\n      \"name\": \"cajas\",\n      \"description\": \"Cash register movements/transactions\",\n      \"columns\": [\n        {\n          \"name\": \"id\",\n          \"type\": \"int\",\n          \"description\": \"Primary key\"\n        },\n        {\n          \"name\": \"fecha\",\n          \"type\": \"datetime\",\n          \"description\": \"Transaction date/time\"\n        },\n        {\n          \"name\": \"id_usuario\",\n          \"type\": \"int\",\n          \"description\": \"User who made the transaction\"\n        },\n        {\n          \"name\": \"punto_venta\",\n          \"type\": \"int\",\n          \"description\": \"Point of sale ID\"\n        },\n        {\n          \"name\": \"tipo\",\n          \"type\": \"int\",\n          \"description\": \"Transaction type: 1 = ingreso, 2 = egreso. Es INT, NO string\"\n        },\n        {\n          \"name\": \"monto\",\n          \"type\": \"decimal(10,2)\",\n          \"description\": \"Amount\"\n        },\n        {\n          \"name\": \"medio_pago\",\n          \"type\": \"varchar(255)\",\n          \"description\": \"Payment method\"\n        },\n        {\n          \"name\": \"descripcion\",\n          \"type\": \"varchar(255)\",\n          \"description\": \"Description\"\n        },\n        {\n          \"name\": \"codigo_venta\",\n          \"type\": \"varchar(255)\",\n          \"description\": \"Sale code reference\"\n        },\n        {\n          \"name\": \"id_venta\",\n          \"type\": \"int\",\n          \"description\": \"Related sale ID\"\n        },\n        {\n          \"name\": \"id_cliente_proveedor\",\n          \"type\": \"int\",\n          \"description\": \"Customer or supplier ID\"\n        },\n        {\n          \"name\": \"observaciones\",\n          \"type\": \"text\",\n          \"description\": \"Notes/observations\"\n        }\n      ]\n    },\n    {\n      \"name\": \"caja_cierres\",\n      \"description\": \"Cash register closing records\",\n      \"columns\": [\n        {\n          \"name\": \"id\",\n          \"type\": \"int\",\n          \"description\": \"Primary key\"\n        },\n        {\n          \"name\": \"fecha_hora\",\n          \"type\": \"datetime\",\n          \"description\": \"Closing date/time\"\n        },\n        {\n          \"name\": \"punto_venta_cobro\",\n          \"type\": \"int\",\n          \"description\": \"Point of sale for collection\"\n        },\n        {\n          \"name\": \"ultimo_id_caja\",\n          \"type\": \"int\",\n          \"description\": \"Last cash register transaction ID\"\n        },\n        {\n          \"name\": \"total_ingresos\",\n          \"type\": \"decimal(11,2)\",\n          \"description\": \"Total income\"\n        },\n        {\n          \"name\": \"total_egresos\",\n          \"type\": \"decimal(11,2)\",\n          \"description\": \"Total expenses\"\n        },\n        {\n          \"name\": \"detalle_ingresos\",\n          \"type\": \"text\",\n          \"description\": \"Income details\"\n        },\n        {\n          \"name\": \"detalle_egresos\",\n          \"type\": \"text\",\n          \"description\": \"Expense details\"\n        },\n        {\n          \"name\": \"apertura_siguiente_monto\",\n          \"type\": \"decimal(11,2)\",\n          \"description\": \"Opening amount for next period\"\n        },\n        {\n          \"name\": \"id_usuario_cierre\",\n          \"type\": \"int\",\n          \"description\": \"User who closed the register\"\n        },\n        {\n          \"name\": \"detalle\",\n          \"type\": \"varchar(255)\",\n          \"description\": \"General details\"\n        },\n        {\n          \"name\": \"detalle_ingresos_manual\",\n          \"type\": \"text\",\n          \"description\": \"Manual income details\"\n        },\n        {\n          \"name\": \"detalle_egresos_manual\",\n          \"type\": \"text\",\n          \"description\": \"Manual expense details\"\n        },\n        {\n          \"name\": \"diferencias\",\n          \"type\": \"text\",\n          \"description\": \"Differences/discrepancies\"\n        }\n      ]\n    },\n    {\n      \"name\": \"categorias\",\n      \"description\": \"Product categories\",\n      \"columns\": [\n        {\n          \"name\": \"id\",\n          \"type\": \"int\",\n          \"description\": \"Primary key\"\n        },\n        {\n          \"name\": \"categoria\",\n          \"type\": \"text\",\n          \"description\": \"Category name\"\n        },\n        {\n          \"name\": \"fecha\",\n          \"type\": \"timestamp\",\n          \"description\": \"Last update timestamp\"\n        }\n      ]\n    },\n    {\n      \"name\": \"clientes\",\n      \"description\": \"Customer information\",\n      \"columns\": [\n        {\n          \"name\": \"id\",\n          \"type\": \"int\",\n          \"description\": \"Primary key\"\n        },\n        {\n          \"name\": \"nombre\",\n          \"type\": \"text\",\n          \"description\": \"Customer name\"\n        },\n        {\n          \"name\": \"tipo_documento\",\n          \"type\": \"int\",\n          \"description\": \"Document type code (AFIP)\"\n        },\n        {\n          \"name\": \"documento\",\n          \"type\": \"varchar(100)\",\n          \"description\": \"ID document number (unique)\"\n        },\n        {\n          \"name\": \"condicion_iva\",\n          \"type\": \"int\",\n          \"description\": \"IVA tax condition code\"\n        },\n        {\n          \"name\": \"email\",\n          \"type\": \"text\",\n          \"description\": \"Email address\"\n        },\n        {\n          \"name\": \"telefono\",\n          \"type\": \"text\",\n          \"description\": \"Phone number\"\n        },\n        {\n          \"name\": \"direccion\",\n          \"type\": \"text\",\n          \"description\": \"Address\"\n        },\n        {\n          \"name\": \"fecha_nacimiento\",\n          \"type\": \"date\",\n          \"description\": \"Birth date\"\n        },\n        {\n          \"name\": \"compras\",\n          \"type\": \"int\",\n          \"description\": \"Number of purchases\"\n        },\n        {\n          \"name\": \"ultima_compra\",\n          \"type\": \"datetime\",\n          \"description\": \"Last purchase date\"\n        },\n        {\n          \"name\": \"fecha\",\n          \"type\": \"timestamp\",\n          \"description\": \"Last update timestamp\"\n        },\n        {\n          \"name\": \"observaciones\",\n          \"type\": \"text\",\n          \"description\": \"Notes/observations\"\n        }\n      ]\n    },\n    {\n      \"name\": \"clientes_cuenta_corriente\",\n      \"description\": \"Customer current account/credit transactions\",\n      \"columns\": [\n        {\n          \"name\": \"id\",\n          \"type\": \"bigint\",\n          \"description\": \"Primary key\"\n        },\n        {\n          \"name\": \"fecha\",\n          \"type\": \"datetime\",\n          \"description\": \"Transaction date/time\"\n        },\n        {\n          \"name\": \"id_cliente\",\n          \"type\": \"bigint\",\n          \"description\": \"Foreign key to clientes\"\n        },\n        {\n          \"name\": \"tipo\",\n          \"type\": \"int\",\n          \"description\": \"Movement type: 0 = venta/deuda (debe), 1 = pago/haber. Es INT, NO string\"\n        },\n        {\n          \"name\": \"descripcion\",\n          \"type\": \"text\",\n          \"description\": \"Transaction description\"\n        },\n        {\n          \"name\": \"id_venta\",\n          \"type\": \"bigint\",\n          \"description\": \"Related sale ID\"\n        },\n        {\n          \"name\": \"importe\",\n          \"type\": \"decimal(11,2)\",\n          \"description\": \"Amount\"\n        },\n        {\n          \"name\": \"metodo_pago\",\n          \"type\": \"text\",\n          \"description\": \"Payment method stored as JSON (can be NULL). Use MySQL JSON functions to query if present. Example: JSON_CONTAINS(metodo_pago, '\\\"Efectivo\\\"', '$[*].tipo')\"\n        },\n        {\n          \"name\": \"numero_recibo\",\n          \"type\": \"int\",\n          \"description\": \"Receipt number\"\n        }\n      ]\n    },\n    {\n      \"name\": \"compras\",\n      \"description\": \"Purchase orders from suppliers\",\n      \"columns\": [\n        {\n          \"name\": \"id\",\n          \"type\": \"int\",\n          \"description\": \"Primary key\"\n        },\n        {\n          \"name\": \"codigo\",\n          \"type\": \"int\",\n          \"description\": \"Purchase code\"\n        },\n        {\n          \"name\": \"id_proveedor\",\n          \"type\": \"int\",\n          \"description\": \"Foreign key to proveedores\"\n        },\n        {\n          \"name\": \"usuarioPedido\",\n          \"type\": \"varchar(250)\",\n          \"description\": \"User who placed order\"\n        },\n        {\n          \"name\": \"sucursalDestino\",\n          \"type\": \"varchar(255)\",\n          \"description\": \"Destination branch\"\n        },\n        {\n          \"name\": \"usuarioConfirma\",\n          \"type\": \"varchar(250)\",\n          \"description\": \"User who confirmed\"\n        },\n        {\n          \"name\": \"productos\",\n          \"type\": \"text\",\n          \"description\": \"Products stored as JSON array. Use MySQL JSON functions (JSON_EXTRACT, JSON_CONTAINS, JSON_SEARCH) to query nested data. Example: JSON_CONTAINS(productos, '\\\"123\\\"', '$[*].id_producto')\"\n        },\n        {\n          \"name\": \"totalNeto\",\n          \"type\": \"float\",\n          \"description\": \"Net total\"\n        },\n        {\n          \"name\": \"iva\",\n          \"type\": \"float\",\n          \"description\": \"IVA tax amount\"\n        },\n        {\n          \"name\": \"precepcionesIngresosBrutos\",\n          \"type\": \"float\",\n          \"description\": \"Gross income withholdings\"\n        },\n        {\n          \"name\": \"precepcionesIva\",\n          \"type\": \"float\",\n          \"description\": \"IVA withholdings\"\n        },\n        {\n          \"name\": \"precepcionesGanancias\",\n          \"type\": \"float\",\n          \"description\": \"Income tax withholdings\"\n        },\n        {\n          \"name\": \"impuestoInterno\",\n          \"type\": \"float\",\n          \"description\": \"Internal tax\"\n        },\n        {\n          \"name\": \"total\",\n          \"type\": \"varchar(255)\",\n          \"description\": \"Total amount\"\n        },\n        {\n          \"name\": \"estado\",\n          \"type\": \"int\",\n          \"description\": \"Order status\"\n        },\n        {\n          \"name\": \"descuento\",\n          \"type\": \"decimal(10,2)\",\n          \"description\": \"Discount amount\"\n        },\n        {\n          \"name\": \"fecha\",\n          \"type\": \"datetime\",\n          \"description\": \"Creation date\"\n        },\n        {\n          \"name\": \"fechaEntrega\",\n          \"type\": \"varchar(255)\",\n          \"description\": \"Delivery date\"\n        },\n        {\n          \"name\": \"fechaPago\",\n          \"type\": \"varchar(255)\",\n          \"description\": \"Payment date\"\n        },\n        {\n          \"name\": \"medioPago\",\n          \"type\": \"int\",\n          \"description\": \"Payment method code\"\n        },\n        {\n          \"name\": \"observacion\",\n          \"type\": \"varchar(255)\",\n          \"description\": \"Observations\"\n        },\n        {\n          \"name\": \"tipo\",\n          \"type\": \"varchar(255)\",\n          \"description\": \"Purchase type\"\n        },\n        {\n          \"name\": \"remitoNumero\",\n          \"type\": \"varchar(255)\",\n          \"description\": \"Delivery note number\"\n        },\n        {\n          \"name\": \"numeroFactura\",\n          \"type\": \"varchar(255)\",\n          \"description\": \"Invoice number\"\n        },\n        {\n          \"name\": \"fechaEmision\",\n          \"type\": \"varchar(255)\",\n          \"description\": \"Issue date\"\n        },\n        {\n          \"name\": \"observacionFactura\",\n          \"type\": \"varchar(255)\",\n          \"description\": \"Invoice observations\"\n        },\n        {\n          \"name\": \"fechaIngreso\",\n          \"type\": \"varchar(255)\",\n          \"description\": \"Entry date\"\n        }\n      ]\n    },\n    {\n      \"name\": \"empresa\",\n      \"description\": \"Company/business configuration\",\n      \"columns\": [\n        {\n          \"name\": \"id\",\n          \"type\": \"int\",\n          \"description\": \"Primary key\"\n        },\n        {\n          \"name\": \"razon_social\",\n          \"type\": \"varchar(255)\",\n          \"description\": \"Legal business name\"\n        },\n        {\n          \"name\": \"titular\",\n          \"type\": \"varchar(255)\",\n          \"description\": \"Owner/holder name\"\n        },\n        {\n          \"name\": \"cuit\",\n          \"type\": \"varchar(20)\",\n          \"description\": \"Tax ID (CUIT)\"\n        },\n        {\n          \"name\": \"domicilio\",\n          \"type\": \"varchar(255)\",\n          \"description\": \"Address\"\n        },\n        {\n          \"name\": \"localidad\",\n          \"type\": \"varchar(255)\",\n          \"description\": \"City/locality\"\n        },\n        {\n          \"name\": \"codigo_postal\",\n          \"type\": \"varchar(255)\",\n          \"description\": \"Postal code\"\n        },\n        {\n          \"name\": \"mail\",\n          \"type\": \"varchar(255)\",\n          \"description\": \"Email address\"\n        },\n        {\n          \"name\": \"telefono\",\n          \"type\": \"varchar(255)\",\n          \"description\": \"Phone number\"\n        },\n        {\n          \"name\": \"ptos_venta\",\n          \"type\": \"text\",\n          \"description\": \"Points of sale (JSON/list)\"\n        },\n        {\n          \"name\": \"pto_venta_defecto\",\n          \"type\": \"char(100)\",\n          \"description\": \"Default point of sale\"\n        },\n        {\n          \"name\": \"almacenes\",\n          \"type\": \"text\",\n          \"description\": \"Warehouses (JSON/list)\"\n        },\n        {\n          \"name\": \"listas_precio\",\n          \"type\": \"text\",\n          \"description\": \"Price lists (JSON/list)\"\n        },\n        {\n          \"name\": \"condicion_iva\",\n          \"type\": \"char(1)\",\n          \"description\": \"IVA tax condition\"\n        },\n        {\n          \"name\": \"condicion_iibb\",\n          \"type\": \"char(1)\",\n          \"description\": \"Gross income condition\"\n        },\n        {\n          \"name\": \"numero_iibb\",\n          \"type\": \"varchar(50)\",\n          \"description\": \"Gross income number\"\n        },\n        {\n          \"name\": \"numero_establecimiento\",\n          \"type\": \"varchar(100)\",\n          \"description\": \"Establishment number\"\n        },\n        {\n          \"name\": \"cbu\",\n          \"type\": \"varchar(255)\",\n          \"description\": \"Bank account CBU\"\n        },\n        {\n          \"name\": \"cbu_alias\",\n          \"type\": \"varchar(255)\",\n          \"description\": \"CBU alias\"\n        },\n        {\n          \"name\": \"inicio_actividades\",\n          \"type\": \"varchar(50)\",\n          \"description\": \"Activity start date\"\n        },\n        {\n          \"name\": \"concepto_defecto\",\n          \"type\": \"char(1)\",\n          \"description\": \"Default invoice concept\"\n        },\n        {\n          \"name\": \"tipos_cbtes\",\n          \"type\": \"text\",\n          \"description\": \"Document types enabled\"\n        },\n        {\n          \"name\": \"entorno_facturacion\",\n          \"type\": \"varchar(50)\",\n          \"description\": \"Billing environment (testing/production)\"\n        },\n        {\n          \"name\": \"ws_padron\",\n          \"type\": \"varchar(50)\",\n          \"description\": \"AFIP padron web service\"\n        },\n        {\n          \"name\": \"csr\",\n          \"type\": \"varchar(255)\",\n          \"description\": \"CSR certificate path\"\n        },\n        {\n          \"name\": \"passphrase\",\n          \"type\": \"varchar(255)\",\n          \"description\": \"Certificate passphrase\"\n        },\n        {\n          \"name\": \"pem\",\n          \"type\": \"varchar(255)\",\n          \"description\": \"PEM certificate path\"\n        },\n        {\n          \"name\": \"logo\",\n          \"type\": \"varchar(255)\",\n          \"description\": \"Company logo path\"\n        }\n      ]\n    },\n    {\n      \"name\": \"integraciones\",\n      \"description\": \"External service integrations (n8n, webhooks, APIs)\",\n      \"columns\": [\n        {\n          \"name\": \"id\",\n          \"type\": \"int\",\n          \"description\": \"Primary key\"\n        },\n        {\n          \"name\": \"nombre\",\n          \"type\": \"varchar(255)\",\n          \"description\": \"Integration name\"\n        },\n        {\n          \"name\": \"tipo\",\n          \"type\": \"varchar(50)\",\n          \"description\": \"Type: n8n, api, webhook, etc.\"\n        },\n        {\n          \"name\": \"webhook_url\",\n          \"type\": \"varchar(500)\",\n          \"description\": \"Webhook URL\"\n        },\n        {\n          \"name\": \"api_key\",\n          \"type\": \"varchar(255)\",\n          \"description\": \"API key if required\"\n        },\n        {\n          \"name\": \"descripcion\",\n          \"type\": \"text\",\n          \"description\": \"Integration description\"\n        },\n        {\n          \"name\": \"activo\",\n          \"type\": \"tinyint(1)\",\n          \"description\": \"Active status: 1=active, 0=inactive\"\n        },\n        {\n          \"name\": \"fecha_creacion\",\n          \"type\": \"datetime\",\n          \"description\": \"Creation timestamp\"\n        },\n        {\n          \"name\": \"fecha_actualizacion\",\n          \"type\": \"datetime\",\n          \"description\": \"Last update timestamp\"\n        }\n      ]\n    },\n    {\n      \"name\": \"pedidos\",\n      \"description\": \"Internal stock transfer orders between branches\",\n      \"columns\": [\n        {\n          \"name\": \"id\",\n          \"type\": \"int\",\n          \"description\": \"Primary key\"\n        },\n        {\n          \"name\": \"codigo\",\n          \"type\": \"int\",\n          \"description\": \"Order code\"\n        },\n        {\n          \"name\": \"id_vendedor\",\n          \"type\": \"varchar(255)\",\n          \"description\": \"Seller ID\"\n        },\n        {\n          \"name\": \"productos\",\n          \"type\": \"mediumtext\",\n          \"description\": \"Products stored as JSON array. Use MySQL JSON functions (JSON_EXTRACT, JSON_CONTAINS, JSON_SEARCH) to query nested data. Example: JSON_CONTAINS(productos, '\\\"123\\\"', '$[*].id_producto')\"\n        },\n        {\n          \"name\": \"origen\",\n          \"type\": \"varchar(255)\",\n          \"description\": \"Origin branch\"\n        },\n        {\n          \"name\": \"destino\",\n          \"type\": \"varchar(255)\",\n          \"description\": \"Destination branch\"\n        },\n        {\n          \"name\": \"estado\",\n          \"type\": \"int\",\n          \"description\": \"Order status\"\n        },\n        {\n          \"name\": \"usuarioConfirma\",\n          \"type\": \"varchar(255)\",\n          \"description\": \"User who confirmed\"\n        },\n        {\n          \"name\": \"fecha\",\n          \"type\": \"timestamp\",\n          \"description\": \"Order date\"\n        }\n      ]\n    },\n    {\n      \"name\": \"presupuestos\",\n      \"description\": \"Quotes/estimates for customers\",\n      \"columns\": [\n        {\n          \"name\": \"id\",\n          \"type\": \"int\",\n          \"description\": \"Primary key\"\n        },\n        {\n          \"name\": \"id_cliente\",\n          \"type\": \"int\",\n          \"description\": \"Foreign key to clientes\"\n        },\n        {\n          \"name\": \"id_vendedor\",\n          \"type\": \"int\",\n          \"description\": \"Foreign key to usuarios (seller)\"\n        },\n        {\n          \"name\": \"productos\",\n          \"type\": \"text\",\n          \"description\": \"Products stored as JSON array. Use MySQL JSON functions (JSON_EXTRACT, JSON_CONTAINS, JSON_SEARCH) to query nested data. Example: JSON_CONTAINS(productos, '\\\"123\\\"', '$[*].id_producto')\"\n        },\n        {\n          \"name\": \"neto\",\n          \"type\": \"decimal(10,2)\",\n          \"description\": \"Net amount\"\n        },\n        {\n          \"name\": \"neto_gravado\",\n          \"type\": \"decimal(11,2)\",\n          \"description\": \"Taxable net (with card interest, minus discounts)\"\n        },\n        {\n          \"name\": \"base_imponible_0\",\n          \"type\": \"decimal(10,2)\",\n          \"description\": \"Tax base 0%\"\n        },\n        {\n          \"name\": \"base_imponible_2\",\n          \"type\": \"decimal(10,2)\",\n          \"description\": \"Tax base 2.5%\"\n        },\n        {\n          \"name\": \"base_imponible_5\",\n          \"type\": \"decimal(10,2)\",\n          \"description\": \"Tax base 5%\"\n        },\n        {\n          \"name\": \"base_imponible_10\",\n          \"type\": \"decimal(10,2)\",\n          \"description\": \"Tax base 10.5%\"\n        },\n        {\n          \"name\": \"base_imponible_21\",\n          \"type\": \"decimal(10,2)\",\n          \"description\": \"Tax base 21%\"\n        },\n        {\n          \"name\": \"base_imponible_27\",\n          \"type\": \"decimal(10,2)\",\n          \"description\": \"Tax base 27%\"\n        },\n        {\n          \"name\": \"iva_2\",\n          \"type\": \"decimal(10,2)\",\n          \"description\": \"IVA 2.5% amount\"\n        },\n        {\n          \"name\": \"iva_5\",\n          \"type\": \"decimal(10,2)\",\n          \"description\": \"IVA 5% amount\"\n        },\n        {\n          \"name\": \"iva_10\",\n          \"type\": \"decimal(10,2)\",\n          \"description\": \"IVA 10.5% amount\"\n        },\n        {\n          \"name\": \"iva_21\",\n          \"type\": \"decimal(10,2)\",\n          \"description\": \"IVA 21% amount\"\n        },\n        {\n          \"name\": \"iva_27\",\n          \"type\": \"decimal(10,2)\",\n          \"description\": \"IVA 27% amount\"\n        },\n        {\n          \"name\": \"impuesto\",\n          \"type\": \"decimal(10,2)\",\n          \"description\": \"Total tax amount\"\n        },\n        {\n          \"name\": \"impuesto_detalle\",\n          \"type\": \"text\",\n          \"description\": \"Tax details stored as JSON. Use MySQL JSON functions (JSON_EXTRACT, JSON_CONTAINS) to query nested data\"\n        },\n        {\n          \"name\": \"total\",\n          \"type\": \"decimal(10,2)\",\n          \"description\": \"Total amount\"\n        },\n        {\n          \"name\": \"metodo_pago\",\n          \"type\": \"text\",\n          \"description\": \"Payment method stored as JSON array. Format: [{\\\"tipo\\\":\\\"Efectivo\\\",\\\"entrega\\\":\\\"17569.20\\\"}]. Use MySQL JSON functions to query. Example: JSON_CONTAINS(metodo_pago, '\\\"Efectivo\\\"', '$[*].tipo')\"\n        },\n        {\n          \"name\": \"estado\",\n          \"type\": \"int\",\n          \"description\": \"Quote status\"\n        },\n        {\n          \"name\": \"observaciones\",\n          \"type\": \"text\",\n          \"description\": \"Observations\"\n        },\n        {\n          \"name\": \"fecha\",\n          \"type\": \"timestamp\",\n          \"description\": \"Quote date\"\n        }\n      ]\n    },\n    {\n      \"name\": \"productos\",\n      \"description\": \"Product catalog\",\n      \"columns\": [\n        {\n          \"name\": \"id\",\n          \"type\": \"int\",\n          \"description\": \"Primary key\"\n        },\n        {\n          \"name\": \"id_categoria\",\n          \"type\": \"int\",\n          \"description\": \"Foreign key to categorias\"\n        },\n        {\n          \"name\": \"codigo\",\n          \"type\": \"varchar(255)\",\n          \"description\": \"Product code (unique)\"\n        },\n        {\n          \"name\": \"id_proveedor\",\n          \"type\": \"int\",\n          \"description\": \"Foreign key to proveedores\"\n        },\n        {\n          \"name\": \"descripcion\",\n          \"type\": \"varchar(255)\",\n          \"description\": \"Product description\"\n        },\n        {\n          \"name\": \"imagen\",\n          \"type\": \"text\",\n          \"description\": \"Product image path\"\n        },\n        {\n          \"name\": \"stock\",\n          \"type\": \"decimal(11,2)\",\n          \"description\": \"Current stock quantity\"\n        },\n        {\n          \"name\": \"deposito\",\n          \"type\": \"decimal(10,2)\",\n          \"description\": \"Warehouse stock\"\n        },\n        {\n          \"name\": \"stock_medio\",\n          \"type\": \"decimal(11,2)\",\n          \"description\": \"Medium stock threshold\"\n        },\n        {\n          \"name\": \"stock_bajo\",\n          \"type\": \"decimal(11,2)\",\n          \"description\": \"Low stock threshold\"\n        },\n        {\n          \"name\": \"precio_compra\",\n          \"type\": \"decimal(11,2)\",\n          \"description\": \"Purchase price\"\n        },\n        {\n          \"name\": \"precio_compra_dolar\",\n          \"type\": \"decimal(11,2)\",\n          \"description\": \"Purchase price in USD\"\n        },\n        {\n          \"name\": \"margen_ganancia\",\n          \"type\": \"decimal(11,2)\",\n          \"description\": \"Profit margin percentage\"\n        },\n        {\n          \"name\": \"precio_venta_neto\",\n          \"type\": \"decimal(11,2)\",\n          \"description\": \"Net sale price\"\n        },\n        {\n          \"name\": \"tipo_iva\",\n          \"type\": \"decimal(11,2)\",\n          \"description\": \"IVA rate\"\n        },\n        {\n          \"name\": \"precio_venta\",\n          \"type\": \"decimal(11,2)\",\n          \"description\": \"Sale price (with tax)\"\n        },\n        {\n          \"name\": \"precio_venta_mayorista\",\n          \"type\": \"decimal(11,2)\",\n          \"description\": \"Wholesale price\"\n        },\n        {\n          \"name\": \"ventas\",\n          \"type\": \"int\",\n          \"description\": \"Number of sales\"\n        },\n        {\n          \"name\": \"fecha\",\n          \"type\": \"timestamp\",\n          \"description\": \"Last update timestamp\"\n        },\n        {\n          \"name\": \"nombre_usuario\",\n          \"type\": \"varchar(50)\",\n          \"description\": \"User who modified\"\n        },\n        {\n          \"name\": \"cambio_desde\",\n          \"type\": \"varchar(50)\",\n          \"description\": \"Change source\"\n        }\n      ],\n      \"triggers\": [\n        {\n          \"name\": \"prod_eliminar\",\n          \"event\": \"BEFORE DELETE\",\n          \"description\": \"Logs product deletion to productos_historial\"\n        },\n        {\n          \"name\": \"prod_insertar\",\n          \"event\": \"AFTER INSERT\",\n          \"description\": \"Logs product insertion to productos_historial\"\n        },\n        {\n          \"name\": \"prod_modificar\",\n          \"event\": \"AFTER UPDATE\",\n          \"description\": \"Logs stock/price changes to productos_historial\"\n        }\n      ]\n    },\n    {\n      \"name\": \"productos_historial\",\n      \"description\": \"Product change history/audit log\",\n      \"columns\": [\n        {\n          \"name\": \"accion\",\n          \"type\": \"varchar(9)\",\n          \"description\": \"Action type: insertar, modificar, borrar\"\n        },\n        {\n          \"name\": \"revision\",\n          \"type\": \"int\",\n          \"description\": \"Revision number (auto-increment)\"\n        },\n        {\n          \"name\": \"fecha_hora\",\n          \"type\": \"datetime\",\n          \"description\": \"Change timestamp\"\n        },\n        {\n          \"name\": \"id\",\n          \"type\": \"int\",\n          \"description\": \"Product ID\"\n        },\n        {\n          \"name\": \"stock\",\n          \"type\": \"float\",\n          \"description\": \"Stock at time of change\"\n        },\n        {\n          \"name\": \"precio_compra\",\n          \"type\": \"float\",\n          \"description\": \"Purchase price at time of change\"\n        },\n        {\n          \"name\": \"precio_venta\",\n          \"type\": \"float\",\n          \"description\": \"Sale price at time of change\"\n        },\n        {\n          \"name\": \"precio_venta_mayorista\",\n          \"type\": \"float\",\n          \"description\": \"Wholesale price at time of change\"\n        },\n        {\n          \"name\": \"nombre_usuario\",\n          \"type\": \"varchar(255)\",\n          \"description\": \"User who made change\"\n        },\n        {\n          \"name\": \"cambio_desde\",\n          \"type\": \"varchar(255)\",\n          \"description\": \"Change source\"\n        }\n      ]\n    },\n    {\n      \"name\": \"proveedores\",\n      \"description\": \"Supplier/vendor information\",\n      \"columns\": [\n        {\n          \"name\": \"id\",\n          \"type\": \"int\",\n          \"description\": \"Primary key\"\n        },\n        {\n          \"name\": \"nombre\",\n          \"type\": \"varchar(255)\",\n          \"description\": \"Supplier name\"\n        },\n        {\n          \"name\": \"tipo_documento\",\n          \"type\": \"int\",\n          \"description\": \"Document type code\"\n        },\n        {\n          \"name\": \"cuit\",\n          \"type\": \"varchar(255)\",\n          \"description\": \"Tax ID (CUIT)\"\n        },\n        {\n          \"name\": \"localidad\",\n          \"type\": \"varchar(255)\",\n          \"description\": \"City/locality\"\n        },\n        {\n          \"name\": \"direccion\",\n          \"type\": \"varchar(255)\",\n          \"description\": \"Address\"\n        },\n        {\n          \"name\": \"telefono\",\n          \"type\": \"varchar(255)\",\n          \"description\": \"Phone number\"\n        },\n        {\n          \"name\": \"email\",\n          \"type\": \"varchar(255)\",\n          \"description\": \"Email address\"\n        },\n        {\n          \"name\": \"inicio_actividades\",\n          \"type\": \"varchar(255)\",\n          \"description\": \"Activity start date\"\n        },\n        {\n          \"name\": \"ingresos_brutos\",\n          \"type\": \"varchar(255)\",\n          \"description\": \"Gross income number\"\n        },\n        {\n          \"name\": \"fecha\",\n          \"type\": \"timestamp\",\n          \"description\": \"Creation timestamp\"\n        },\n        {\n          \"name\": \"observaciones\",\n          \"type\": \"text\",\n          \"description\": \"Notes/observations\"\n        }\n      ]\n    },\n    {\n      \"name\": \"proveedores_cuenta_corriente\",\n      \"description\": \"Supplier current account/credit transactions\",\n      \"columns\": [\n        {\n          \"name\": \"id\",\n          \"type\": \"int\",\n          \"description\": \"Primary key\"\n        },\n        {\n          \"name\": \"id_compra\",\n          \"type\": \"int\",\n          \"description\": \"Foreign key to compras\"\n        },\n        {\n          \"name\": \"id_proveedor\",\n          \"type\": \"int\",\n          \"description\": \"Foreign key to proveedores\"\n        },\n        {\n          \"name\": \"total_compra\",\n          \"type\": \"double\",\n          \"description\": \"Total purchase amount\"\n        },\n        {\n          \"name\": \"fecha_movimiento\",\n          \"type\": \"date\",\n          \"description\": \"Movement date\"\n        },\n        {\n          \"name\": \"importe\",\n          \"type\": \"double\",\n          \"description\": \"Amount\"\n        },\n        {\n          \"name\": \"tipo\",\n          \"type\": \"int\",\n          \"description\": \"Movement type code\"\n        },\n        {\n          \"name\": \"estado\",\n          \"type\": \"int\",\n          \"description\": \"Status\"\n        },\n        {\n          \"name\": \"metodo_pago\",\n          \"type\": \"varchar(255)\",\n          \"description\": \"Payment method\"\n        },\n        {\n          \"name\": \"descripcion\",\n          \"type\": \"varchar(255)\",\n          \"description\": \"Description\"\n        },\n        {\n          \"name\": \"id_usuario\",\n          \"type\": \"varchar(250)\",\n          \"description\": \"User who recorded\"\n        }\n      ]\n    },\n    {\n      \"name\": \"usuarios\",\n      \"description\": \"System users\",\n      \"columns\": [\n        {\n          \"name\": \"id\",\n          \"type\": \"int\",\n          \"description\": \"Primary key\"\n        },\n        {\n          \"name\": \"nombre\",\n          \"type\": \"varchar(255)\",\n          \"description\": \"Full name\"\n        },\n        {\n          \"name\": \"usuario\",\n          \"type\": \"varchar(255)\",\n          \"description\": \"Username\"\n        },\n        {\n          \"name\": \"password\",\n          \"type\": \"varchar(255)\",\n          \"description\": \"Password hash\"\n        },\n        {\n          \"name\": \"perfil\",\n          \"type\": \"varchar(255)\",\n          \"description\": \"Role/profile\"\n        },\n        {\n          \"name\": \"sucursal\",\n          \"type\": \"varchar(200)\",\n          \"description\": \"Assigned branch\"\n        },\n        {\n          \"name\": \"puntos_venta\",\n          \"type\": \"varchar(100)\",\n          \"description\": \"Assigned POS (comma-separated)\"\n        },\n        {\n          \"name\": \"listas_precio\",\n          \"type\": \"varchar(200)\",\n          \"description\": \"Assigned price lists\"\n        },\n        {\n          \"name\": \"foto\",\n          \"type\": \"varchar(255)\",\n          \"description\": \"Profile photo path\"\n        },\n        {\n          \"name\": \"estado\",\n          \"type\": \"int\",\n          \"description\": \"Status: 1=active, 0=inactive\"\n        },\n        {\n          \"name\": \"ultimo_login\",\n          \"type\": \"datetime\",\n          \"description\": \"Last login date/time\"\n        },\n        {\n          \"name\": \"fecha\",\n          \"type\": \"timestamp\",\n          \"description\": \"Last update timestamp\"\n        }\n      ]\n    },\n    {\n      \"name\": \"ventas\",\n      \"description\": \"Sales transactions\",\n      \"columns\": [\n        {\n          \"name\": \"id\",\n          \"type\": \"int\",\n          \"description\": \"Primary key\"\n        },\n        {\n          \"name\": \"uuid\",\n          \"type\": \"varchar(34)\",\n          \"description\": \"Unique identifier (unique)\"\n        },\n        {\n          \"name\": \"codigo\",\n          \"type\": \"int\",\n          \"description\": \"Sale code\"\n        },\n        {\n          \"name\": \"cbte_tipo\",\n          \"type\": \"int\",\n          \"description\": \"AFIP document type code\"\n        },\n        {\n          \"name\": \"id_cliente\",\n          \"type\": \"int\",\n          \"description\": \"Foreign key to clientes\"\n        },\n        {\n          \"name\": \"id_vendedor\",\n          \"type\": \"int\",\n          \"description\": \"Foreign key to usuarios\"\n        },\n        {\n          \"name\": \"productos\",\n          \"type\": \"text\",\n          \"description\": \"Products stored as JSON array. Use MySQL JSON functions (JSON_EXTRACT, JSON_CONTAINS, JSON_SEARCH) to query nested data. Example: JSON_CONTAINS(productos, '\\\"123\\\"', '$[*].id_producto')\"\n        },\n        {\n          \"name\": \"neto\",\n          \"type\": \"decimal(10,2)\",\n          \"description\": \"Net amount\"\n        },\n        {\n          \"name\": \"neto_gravado\",\n          \"type\": \"decimal(11,2)\",\n          \"description\": \"Taxable net amount\"\n        },\n        {\n          \"name\": \"base_imponible_0\",\n          \"type\": \"decimal(10,2)\",\n          \"description\": \"Tax base 0%\"\n        },\n        {\n          \"name\": \"base_imponible_2\",\n          \"type\": \"decimal(10,2)\",\n          \"description\": \"Tax base 2.5%\"\n        },\n        {\n          \"name\": \"base_imponible_5\",\n          \"type\": \"decimal(10,2)\",\n          \"description\": \"Tax base 5%\"\n        },\n        {\n          \"name\": \"base_imponible_10\",\n          \"type\": \"decimal(10,2)\",\n          \"description\": \"Tax base 10.5%\"\n        },\n        {\n          \"name\": \"base_imponible_21\",\n          \"type\": \"decimal(10,2)\",\n          \"description\": \"Tax base 21%\"\n        },\n        {\n          \"name\": \"base_imponible_27\",\n          \"type\": \"decimal(10,2)\",\n          \"description\": \"Tax base 27%\"\n        },\n        {\n          \"name\": \"iva_2\",\n          \"type\": \"decimal(10,2)\",\n          \"description\": \"IVA 2.5% amount\"\n        },\n        {\n          \"name\": \"iva_5\",\n          \"type\": \"decimal(10,2)\",\n          \"description\": \"IVA 5% amount\"\n        },\n        {\n          \"name\": \"iva_10\",\n          \"type\": \"decimal(10,2)\",\n          \"description\": \"IVA 10.5% amount\"\n        },\n        {\n          \"name\": \"iva_21\",\n          \"type\": \"decimal(10,2)\",\n          \"description\": \"IVA 21% amount\"\n        },\n        {\n          \"name\": \"iva_27\",\n          \"type\": \"decimal(10,2)\",\n          \"description\": \"IVA 27% amount\"\n        },\n        {\n          \"name\": \"impuesto\",\n          \"type\": \"decimal(10,2)\",\n          \"description\": \"Total tax amount\"\n        },\n        {\n          \"name\": \"impuesto_detalle\",\n          \"type\": \"text\",\n          \"description\": \"Tax details stored as JSON. Use MySQL JSON functions (JSON_EXTRACT, JSON_CONTAINS) to query nested data\"\n        },\n        {\n          \"name\": \"total\",\n          \"type\": \"decimal(10,2)\",\n          \"description\": \"Total amount\"\n        },\n        {\n          \"name\": \"metodo_pago\",\n          \"type\": \"text\",\n          \"description\": \"Payment method stored as JSON array. Format: [{\\\"tipo\\\":\\\"Efectivo\\\",\\\"entrega\\\":\\\"17569.20\\\"}]. Use MySQL JSON functions to query. Example: JSON_CONTAINS(metodo_pago, '\\\"Efectivo\\\"', '$[*].tipo')\"\n        },\n        {\n          \"name\": \"estado\",\n          \"type\": \"int\",\n          \"description\": \"Sale status\"\n        },\n        {\n          \"name\": \"observaciones_vta\",\n          \"type\": \"text\",\n          \"description\": \"Sale observations\"\n        },\n        {\n          \"name\": \"observaciones\",\n          \"type\": \"text\",\n          \"description\": \"General observations\"\n        },\n        {\n          \"name\": \"fecha\",\n          \"type\": \"timestamp\",\n          \"description\": \"Sale date\"\n        },\n        {\n          \"name\": \"concepto\",\n          \"type\": \"int\",\n          \"description\": \"Invoice concept (AFIP)\"\n        },\n        {\n          \"name\": \"pto_vta\",\n          \"type\": \"int\",\n          \"description\": \"Point of sale number\"\n        },\n        {\n          \"name\": \"fec_desde\",\n          \"type\": \"varchar(20)\",\n          \"description\": \"Service period from\"\n        },\n        {\n          \"name\": \"fec_hasta\",\n          \"type\": \"varchar(20)\",\n          \"description\": \"Service period to\"\n        },\n        {\n          \"name\": \"fec_vencimiento\",\n          \"type\": \"varchar(20)\",\n          \"description\": \"Due date\"\n        },\n        {\n          \"name\": \"asociado_tipo_cbte\",\n          \"type\": \"int\",\n          \"description\": \"Associated document type\"\n        },\n        {\n          \"name\": \"asociado_pto_vta\",\n          \"type\": \"int\",\n          \"description\": \"Associated POS number\"\n        },\n        {\n          \"name\": \"asociado_nro_cbte\",\n          \"type\": \"int\",\n          \"description\": \"Associated document number\"\n        },\n        {\n          \"name\": \"pedido_afip\",\n          \"type\": \"text\",\n          \"description\": \"AFIP request data stored as JSON. Use MySQL JSON functions to query nested data\"\n        },\n        {\n          \"name\": \"respuesta_afip\",\n          \"type\": \"text\",\n          \"description\": \"AFIP response data stored as JSON. Use MySQL JSON functions to query nested data\"\n        }\n      ]\n    },\n    {\n      \"name\": \"ventas_factura\",\n      \"description\": \"Invoice details for sales (CAE from AFIP)\",\n      \"columns\": [\n        {\n          \"name\": \"id\",\n          \"type\": \"int\",\n          \"description\": \"Primary key\"\n        },\n        {\n          \"name\": \"id_venta\",\n          \"type\": \"int\",\n          \"description\": \"Foreign key to ventas\"\n        },\n        {\n          \"name\": \"fec_factura\",\n          \"type\": \"varchar(15)\",\n          \"description\": \"Invoice date\"\n        },\n        {\n          \"name\": \"nro_cbte\",\n          \"type\": \"bigint\",\n          \"description\": \"Document number\"\n        },\n        {\n          \"name\": \"cae\",\n          \"type\": \"varchar(100)\",\n          \"description\": \"CAE (Electronic Authorization Code)\"\n        },\n        {\n          \"name\": \"fec_vto_cae\",\n          \"type\": \"varchar(10)\",\n          \"description\": \"CAE expiration date\"\n        }\n      ]\n    }\n  ],\n  \"relationships\": [\n    {\n      \"from\": \"cajas.id_usuario\",\n      \"to\": \"usuarios.id\"\n    },\n    {\n      \"from\": \"cajas.id_venta\",\n      \"to\": \"ventas.id\"\n    },\n    {\n      \"from\": \"cajas.id_cliente_proveedor\",\n      \"to\": \"clientes.id or proveedores.id\"\n    },\n    {\n      \"from\": \"caja_cierres.id_usuario_cierre\",\n      \"to\": \"usuarios.id\"\n    },\n    {\n      \"from\": \"clientes_cuenta_corriente.id_cliente\",\n      \"to\": \"clientes.id\"\n    },\n    {\n      \"from\": \"clientes_cuenta_corriente.id_venta\",\n      \"to\": \"ventas.id\"\n    },\n    {\n      \"from\": \"compras.id_proveedor\",\n      \"to\": \"proveedores.id\"\n    },\n    {\n      \"from\": \"pedidos.id_vendedor\",\n      \"to\": \"usuarios.id\"\n    },\n    {\n      \"from\": \"presupuestos.id_cliente\",\n      \"to\": \"clientes.id\"\n    },\n    {\n      \"from\": \"presupuestos.id_vendedor\",\n      \"to\": \"usuarios.id\"\n    },\n    {\n      \"from\": \"productos.id_categoria\",\n      \"to\": \"categorias.id\"\n    },\n    {\n      \"from\": \"productos.id_proveedor\",\n      \"to\": \"proveedores.id\"\n    },\n    {\n      \"from\": \"productos_historial.id\",\n      \"to\": \"productos.id\"\n    },\n    {\n      \"from\": \"proveedores_cuenta_corriente.id_compra\",\n      \"to\": \"compras.id\"\n    },\n    {\n      \"from\": \"proveedores_cuenta_corriente.id_proveedor\",\n      \"to\": \"proveedores.id\"\n    },\n    {\n      \"from\": \"ventas.id_cliente\",\n      \"to\": \"clientes.id\"\n    },\n    {\n      \"from\": \"ventas.id_vendedor\",\n      \"to\": \"usuarios.id\"\n    },\n    {\n      \"from\": \"ventas_factura.id_venta\",\n      \"to\": \"ventas.id\"\n    }\n  ],\n  \"indexes\": [\n    {\n      \"table\": \"clientes\",\n      \"column\": \"documento\",\n      \"type\": \"UNIQUE\"\n    },\n    {\n      \"table\": \"productos\",\n      \"column\": \"codigo\",\n      \"type\": \"UNIQUE\"\n    },\n    {\n      \"table\": \"ventas\",\n      \"column\": \"uuid\",\n      \"type\": \"UNIQUE\"\n    },\n    {\n      \"table\": \"integraciones\",\n      \"column\": \"tipo\",\n      \"type\": \"INDEX\"\n    },\n    {\n      \"table\": \"integraciones\",\n      \"column\": \"activo\",\n      \"type\": \"INDEX\"\n    },\n    {\n      \"table\": \"productos_historial\",\n      \"columns\": [\n        \"id\",\n        \"revision\"\n      ],\n      \"type\": \"PRIMARY KEY (composite)\"\n    }\n  ]\n}",
              "type": "object"
            },
            {
              "id": "id-2",
              "name": "systemName",
              "value": "Sistema POS Moon",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "575d32ad-8ac4-490b-ab19-178468dce4c1",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        784,
        -16
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=Eres un asistente virtual experto en SQL para el Sistema POS Moon. Tu tarea es ayudar a los usuarios a consultar la base de datos MySQL usando lenguaje natural en español.\n\n**FORMATO DE RESPUESTA OBLIGATORIO:**\n\nSi necesitas más información del usuario, responde EXACTAMENTE así (SOLO JSON, sin texto adicional):\n{\"needsMoreInfo\": true, \"clarificationMessage\": \"tu mensaje aquí\"}\n\nSi tienes toda la información y generas SQL, responde EXACTAMENTE así (SOLO JSON, sin texto adicional):\n{\"needsMoreInfo\": false, \"sqlQuery\": \"SELECT ...\", \"explanation\": \"explicación\"}\n\n**IMPORTANTE:**\n- Responde SOLO con JSON válido\n- NO uses markdown, NO uses texto fuera del JSON\n- NO uses campos adicionales como \"output\"\n- El JSON debe estar en el nivel raíz\n\n**Tu proceso:**\n1. Si la pregunta es ambigua o falta información (fechas, nombres, etc.), devuelve: {\"needsMoreInfo\": true, \"clarificationMessage\": \"mensaje\"}\n2. Si tienes toda la información, genera SQL SELECT y devuelve: {\"needsMoreInfo\": false, \"sqlQuery\": \"SELECT ...\", \"explanation\": \"explicación\"}\n\n**Esquema de base de datos (OBLIGATORIO - ÚSALO SIEMPRE):**\n{{ $(\"Workflow Configuration\").first().json.dbSchema }}\n\n**🚨🚨🚨 CHECKLIST OBLIGATORIO ANTES DE GENERAR CUALQUIER SQL 🚨🚨🚨**\n\n**ANTES de escribir UNA SOLA LÍNEA de SQL, DEBES completar este checklist:**\n\n□ PASO 1: Lee el esquema completo que está arriba\n□ PASO 2: Identifica la pregunta del usuario (ej: \"cuentas corrientes\", \"total en cuentas\", etc.)\n□ PASO 3: Busca en el esquema qué tabla corresponde:\n   - Si el usuario dice \"cuentas\" o \"cuenta corriente\" → Busca en el esquema\n   - NO existe tabla llamada \"cuentas\"\n   - La tabla correcta es \"clientes_cuenta_corriente\" (verifícalo en el esquema)\n□ PASO 4: Verifica las columnas de esa tabla en el esquema:\n   - Lee TODAS las columnas listadas en el esquema para esa tabla\n   - Si el usuario dice \"monto\" o \"total\" → Busca en el esquema\n   - NO existe campo \"monto\" en clientes_cuenta_corriente\n   - El campo correcto es \"importe\" (verifícalo en el esquema)\n□ PASO 5: Verifica el tipo de dato de cada campo que usarás:\n   - Si el campo es INT → usa números (0, 1, 2, etc.)\n   - Si el campo es VARCHAR/TEXT → usa strings entre comillas\n   - clientes_cuenta_corriente.tipo es INT, NO VARCHAR\n   - Valores permitidos: 0 (venta/deuda) o 1 (pago/haber)\n□ PASO 6: Genera el SQL usando SOLO lo que verificaste en el esquema\n\n**❌ ERRORES COMUNES QUE DEBES EVITAR ABSOLUTAMENTE:**\n\n**ERROR 1: Inventar tablas**\n❌ INCORRECTO: SELECT * FROM cuentas\n✅ CORRECTO: SELECT * FROM clientes_cuenta_corriente\n\n**ERROR 2: Inventar campos**\n❌ INCORRECTO: SELECT SUM(monto) FROM clientes_cuenta_corriente\n✅ CORRECTO: SELECT SUM(importe) FROM clientes_cuenta_corriente\n\n**ERROR 3: Usar strings en campos INT**\n❌ INCORRECTO: SELECT * FROM cuentas WHERE tipo = 'corriente'\n❌ INCORRECTO: SELECT SUM(monto) FROM cuentas WHERE tipo = 'corriente'\n✅ CORRECTO: SELECT SUM(importe) FROM clientes_cuenta_corriente WHERE tipo = 0\n\n**ERROR 4: Combinar errores (LO MÁS GRAVE)**\n❌ INCORRECTO: SELECT SUM(monto) AS total_en_cuentas_corrientes FROM cuentas WHERE tipo = 'corriente'\nEste error tiene TRES problemas:\n1. Tabla inventada: 'cuentas' (no existe) → debe ser 'clientes_cuenta_corriente'\n2. Campo inventado: 'monto' (no existe) → debe ser 'importe'\n3. String en INT: tipo = 'corriente' (incorrecto) → debe ser tipo = 0\n✅ CORRECTO: SELECT SUM(importe) AS total_en_cuentas_corrientes FROM clientes_cuenta_corriente WHERE tipo = 0\n\n**📋 LISTA EXACTA DE TABLAS DISPONIBLES (COPIA Y PEGA ESTA LISTA):**\ncajas\ncaja_cierres\ncategorias\nclientes\nclientes_cuenta_corriente\ncompras\nempresa\nintegraciones\npedidos\npresupuestos\nproductos\nproductos_historial\nproveedores\nproveedores_cuenta_corriente\nusuarios\nventas\nventas_factura\n\n**📋 MAPEO DE CONCEPTOS DEL USUARIO A TABLAS/CAMPOS REALES:**\n\nCuando el usuario dice:\n- \"cuentas\" o \"cuenta corriente\" → Tabla: clientes_cuenta_corriente\n- \"monto\" o \"total\" en cuenta corriente → Campo: importe\n- \"tipo de cuenta\" o \"corriente\" → Campo: tipo (INT, valores: 0 o 1)\n- \"deuda\" o \"debe\" → tipo = 0\n- \"pago\" o \"haber\" → tipo = 1\n- \"ingreso\" en caja → cajas.tipo = 1\n- \"egreso\" en caja → cajas.tipo = 2\n\n**🔍 VERIFICACIÓN FINAL OBLIGATORIA:**\n\nAntes de devolver el SQL, verifica:\n1. ¿Cada tabla que uso existe en la lista de 17 tablas arriba? → Si NO, CORRIGE\n2. ¿Cada campo que uso existe en el esquema para esa tabla? → Si NO, CORRIGE\n3. ¿Los campos INT tienen valores numéricos (0, 1, 2)? → Si NO, CORRIGE\n4. ¿Los campos VARCHAR/TEXT tienen valores entre comillas? → Si NO, CORRIGE\n\n**EJEMPLOS ESPECÍFICOS DEL ERROR QUE DEBES EVITAR:**\n\nUsuario pregunta: \"total en cuentas corrientes\"\n❌ NUNCA hagas: SELECT SUM(monto) FROM cuentas WHERE tipo = 'corriente'\n✅ SIEMPRE haz: SELECT SUM(importe) FROM clientes_cuenta_corriente WHERE tipo = 0\n\nUsuario pregunta: \"deudas de clientes\"\n❌ NUNCA hagas: SELECT * FROM cuentas WHERE tipo = 'deuda'\n✅ SIEMPRE haz: SELECT * FROM clientes_cuenta_corriente WHERE tipo = 0\n\nUsuario pregunta: \"pagos recibidos\"\n❌ NUNCA hagas: SELECT SUM(monto) FROM pagos\n✅ SIEMPRE haz: SELECT SUM(importe) FROM clientes_cuenta_corriente WHERE tipo = 1\n\n\n\n**🚨🚨🚨 CRÍTICO: REVISA LOS VALORES REALES DEL JSON 🚨🚨🚨**\n\n**ANTES de generar SQL para campos JSON, DEBES entender que:**\n- Los valores en JSON pueden variar y NO siempre son los que esperas\n- NO asumas valores. DEBES considerar TODOS los formatos posibles\n- Los valores pueden estar abreviados, con guiones, o en diferentes formatos\n\n**FORMATOS REALES DE metodo_pago que encontrarás en la base de datos:**\n- `[{\"tipo\":\"Efectivo\",\"entrega\":\"17569.20\"}]` - Efectivo (formato completo)\n- `[{\"tipo\":\"TD-\",\"entrega\":\"5106.08\"}]` - Tarjeta Débito (abreviado como TD-)\n- `[{\"tipo\":\"TC-\",\"entrega\":\"76865.25\"}]` - Tarjeta Crédito (abreviado como TC-)\n- `[{\"tipo\":\"TR--\",\"entrega\":\"2373.72\"}]` - Transferencia (abreviado como TR--)\n- Puede haber otros formatos o variaciones (TD, TC, TR, etc.)\n\n\n**🚨🚨🚨 CRÍTICO: COMPATIBILIDAD CON MYSQL (HOSTINGER) 🚨🚨🚨**\n\n**PROBLEMA DETECTADO:** Tu versión de MySQL NO permite wildcards ($[*]) en el tercer parámetro de JSON_CONTAINS.\n**SOLUCIÓN:** DEBES usar JSON_CONTAINS con JSON_OBJECT en lugar del tercer parámetro con ruta.\n\n**REGLA OBLIGATORIA:**\n- ❌ NUNCA uses: JSON_CONTAINS(metodo_pago, '\"Efectivo\"', '$[*].tipo')\n- ❌ NUNCA uses: JSON_EXTRACT(metodo_pago, '$[*].tipo') LIKE '%Efectivo%'\n- ✅ SIEMPRE usa: JSON_EXTRACT(metodo_pago, '$[*].tipo') LIKE '%valor%'\n- El valor después de LIKE viene de lo que el usuario pregunta en su consulta\n\n**SINTAXIS CORRECTA DE JSON_EXTRACT CON LIKE:**\nJSON_EXTRACT(campo_json, '$[*].campo') LIKE '%valor%'\n- JSON_EXTRACT extrae el campo de todos los elementos del array\n- LIKE '%valor%' busca el valor que el usuario menciona en su consulta\n- El valor después de LIKE viene de lo que el usuario pregunta\n- Funciona perfectamente con arrays como [{\"tipo\":\"Efectivo\",\"entrega\":\"17569.20\"}]\n\n**EJEMPLOS CORRECTOS CON JSON_CONTAINS Y JSON_OBJECT:**\n\nUsuario pregunta: \"ventas en efectivo\"\n✅ CORRECTO: SELECT COUNT(*) FROM ventas WHERE JSON_EXTRACT(metodo_pago, '$[*].tipo') LIKE '%Efectivo%'\n\nUsuario pregunta: \"cuánta plata en efectivo vendí este mes\"\n✅ CORRECTO: SELECT SUM(total) AS total_efectivo FROM ventas WHERE JSON_EXTRACT(metodo_pago, '$[*].tipo') LIKE '%Efectivo%' AND YEAR(fecha) = YEAR(CURDATE()) AND MONTH(fecha) = MONTH(CURDATE())\n\nUsuario pregunta: \"ventas con tarjeta débito\"\n✅ CORRECTO: SELECT COUNT(*) FROM ventas WHERE JSON_EXTRACT(metodo_pago, '$[*].tipo') LIKE '%TD-%' OR JSON_EXTRACT(metodo_pago, '$[*].tipo') LIKE '%Tarjeta Débito%' OR JSON_EXTRACT(metodo_pago, '$[*].tipo') LIKE '%Débito%' OR JSON_EXTRACT(metodo_pago, '$[*].tipo') LIKE '%TD%' OR JSON_EXTRACT(metodo_pago, '$[*].tipo') LIKE '%TD%'\n\n**IMPORTANTE:** \n- JSON_EXTRACT con LIKE busca el valor que el usuario menciona en su pregunta\n- El valor después de LIKE debe venir de lo que el usuario pregunta (efectivo, tarjeta, débito, etc.)\n- Usa LIKE '%valor%' para buscar de forma flexible\n- Esta sintaxis es compatible con MySQL Hostinger\n\n**REGLA CRÍTICA - MAPEO DE CONCEPTOS A VALORES JSON:**\n\nCuando el usuario pregunta por un método de pago, DEBES buscar TODOS los formatos posibles:\n\n1. **\"efectivo\" o \"en efectivo\":**\n   → Busca: \"Efectivo\" (exacto, con mayúscula)\n\n2. **\"tarjeta débito\" o \"débito\" o \"tarjeta de débito\":**\n   → Busca: \"TD-\", \"Tarjeta Débito\", \"Débito\", \"TD\" (todos los formatos posibles)\n\n3. **\"tarjeta crédito\" o \"crédito\" o \"tarjeta de crédito\":**\n   → Busca: \"TC-\", \"Tarjeta Crédito\", \"Crédito\", \"TC\" (todos los formatos posibles)\n\n4. **\"tarjeta\" (sin especificar débito o crédito):**\n   → Busca: \"TD-\", \"TC-\", \"Tarjeta Débito\", \"Tarjeta Crédito\", \"TD\", \"TC\" (AMBOS tipos)\n\n5. **\"transferencia\" o \"transferencia bancaria\":**\n   → Busca: \"TR--\", \"Transferencia\", \"TR\", \"TR-\" (todos los formatos posibles)\n\n**EJEMPLOS CORRECTOS CON MÚLTIPLES FORMATOS:**\n\nUsuario pregunta: \"ventas en efectivo\" o \"total de ventas en efectivo\"\n❌ INCORRECTO: SELECT COUNT(*) FROM ventas WHERE metodo_pago = 'efectivo'\n✅ CORRECTO: SELECT COUNT(*) FROM ventas WHERE JSON_EXTRACT(metodo_pago, '$[*].tipo') LIKE '%Efectivo%'\n\nUsuario pregunta: \"ventas con tarjeta débito\" o \"ventas pagadas con débito\"\n❌ INCORRECTO: SELECT COUNT(*) FROM ventas WHERE JSON_EXTRACT(metodo_pago, '$[*].tipo') LIKE '%Tarjeta Débito%'\n✅ CORRECTO: SELECT COUNT(*) FROM ventas WHERE JSON_EXTRACT(metodo_pago, '$[*].tipo') LIKE '%TD-%' OR JSON_EXTRACT(metodo_pago, '$[*].tipo') LIKE '%Tarjeta Débito%' OR JSON_EXTRACT(metodo_pago, '$[*].tipo') LIKE '%Débito%' OR JSON_EXTRACT(metodo_pago, '$[*].tipo') LIKE '%TD%' OR JSON_EXTRACT(metodo_pago, '$[*].tipo') LIKE '%TD%'\n\nUsuario pregunta: \"ventas con tarjeta crédito\" o \"ventas pagadas con crédito\"\n❌ INCORRECTO: SELECT COUNT(*) FROM ventas WHERE JSON_EXTRACT(metodo_pago, '$[*].tipo') LIKE '%Tarjeta Crédito%'\n✅ CORRECTO: SELECT COUNT(*) FROM ventas WHERE JSON_EXTRACT(metodo_pago, '$[*].tipo') LIKE '%TC-%' OR JSON_EXTRACT(metodo_pago, '$[*].tipo') LIKE '%Tarjeta Crédito%' OR JSON_EXTRACT(metodo_pago, '$[*].tipo') LIKE '%Crédito%' OR JSON_EXTRACT(metodo_pago, '$[*].tipo') LIKE '%TC%' OR JSON_EXTRACT(metodo_pago, '$[*].tipo') LIKE '%TC%'\n\nUsuario pregunta: \"ventas con tarjeta\" (sin especificar débito o crédito)\n❌ INCORRECTO: SELECT COUNT(*) FROM ventas WHERE JSON_EXTRACT(metodo_pago, '$[*].tipo') LIKE '%Tarjeta%'\n✅ CORRECTO: SELECT COUNT(*) FROM ventas WHERE JSON_EXTRACT(metodo_pago, '$[*].tipo') LIKE '%TD-%' OR JSON_EXTRACT(metodo_pago, '$[*].tipo') LIKE '%TC-%' OR JSON_EXTRACT(metodo_pago, '$[*].tipo') LIKE '%Tarjeta%'\n\nUsuario pregunta: \"ventas con transferencia\" o \"ventas pagadas con transferencia\"\n❌ INCORRECTO: SELECT COUNT(*) FROM ventas WHERE JSON_EXTRACT(metodo_pago, '$[*].tipo') LIKE '%Transferencia%'\n✅ CORRECTO: SELECT COUNT(*) FROM ventas WHERE JSON_EXTRACT(metodo_pago, '$[*].tipo') LIKE '%TR--%' OR JSON_EXTRACT(metodo_pago, '$[*].tipo') LIKE '%Transferencia%' OR JSON_EXTRACT(metodo_pago, '$[*].tipo') LIKE '%TR%'\n\n\n**EJEMPLOS ESPECÍFICOS DE SUM CON FILTROS DE FECHA Y MÉTODO DE PAGO:**\n\nUsuario pregunta: \"cuánta plata en efectivo vendí este mes\" o \"total vendido en efectivo este mes\"\n❌ INCORRECTO: SELECT SUM(total) FROM ventas WHERE metodo_pago = 'efectivo' AND MONTH(fecha) = MONTH(NOW())\n✅ CORRECTO: SELECT SUM(total) AS total_efectivo FROM ventas WHERE JSON_EXTRACT(metodo_pago, '$[*].tipo') LIKE '%Efectivo%' AND YEAR(fecha) = YEAR(CURDATE()) AND MONTH(fecha) = MONTH(CURDATE())\n\nUsuario pregunta: \"cuánto vendí con tarjeta este mes\" o \"total vendido con tarjeta este mes\"\n❌ INCORRECTO: SELECT SUM(total) FROM ventas WHERE metodo_pago LIKE '%tarjeta%' AND MONTH(fecha) = MONTH(NOW())\n✅ CORRECTO: SELECT SUM(total) AS total_tarjeta FROM ventas WHERE (JSON_EXTRACT(metodo_pago, '$[*].tipo') LIKE '%TD-%' OR JSON_EXTRACT(metodo_pago, '$[*].tipo') LIKE '%TC-%' OR JSON_EXTRACT(metodo_pago, '$[*].tipo') LIKE '%Tarjeta%') AND YEAR(fecha) = YEAR(CURDATE()) AND MONTH(fecha) = MONTH(CURDATE())\n\nUsuario pregunta: \"cuánto vendí en efectivo en diciembre\" o \"total efectivo diciembre 2024\"\n❌ INCORRECTO: SELECT SUM(total) FROM ventas WHERE metodo_pago = 'efectivo' AND fecha LIKE '%2024-12%'\n✅ CORRECTO: SELECT SUM(total) AS total_efectivo FROM ventas WHERE JSON_EXTRACT(metodo_pago, '$[*].tipo') LIKE '%Efectivo%' AND YEAR(fecha) = 2024 AND MONTH(fecha) = 12\n\nUsuario pregunta: \"ventas en efectivo del año\" o \"total efectivo este año\"\n❌ INCORRECTO: SELECT SUM(total) FROM ventas WHERE metodo_pago = 'efectivo' AND YEAR(fecha) = YEAR(NOW())\n✅ CORRECTO: SELECT SUM(total) AS total_efectivo FROM ventas WHERE JSON_EXTRACT(metodo_pago, '$[*].tipo') LIKE '%Efectivo%' AND YEAR(fecha) = YEAR(CURDATE())\n\n**IMPORTANTE PARA SUMAS:**\n- Usa SUM(total) para sumar el campo total de ventas\n- Para filtrar por mes actual: YEAR(fecha) = YEAR(CURDATE()) AND MONTH(fecha) = MONTH(CURDATE())\n- Para filtrar por año actual: YEAR(fecha) = YEAR(CURDATE())\n- Para filtrar por mes/año específico: YEAR(fecha) = 2024 AND MONTH(fecha) = 12\n- SIEMPRE combina el filtro JSON del método de pago con el filtro de fecha usando AND\n\n**PASO ADICIONAL CRÍTICO EN EL CHECKLIST:**\n\n□ PASO 8: Si estás consultando un campo JSON (especialmente metodo_pago):\n   - NO asumas un solo formato del valor\n   - Considera TODOS los formatos posibles (abreviados como TD-, TC-, TR--, completos, con guiones, etc.)\n   - Si el usuario dice \"efectivo\" → busca \"Efectivo\" (exacto, con mayúscula)\n   - Si el usuario dice \"tarjeta débito\" → busca \"TD-\", \"Tarjeta Débito\", \"Débito\", \"TD\"\n   - Si el usuario dice \"tarjeta crédito\" → busca \"TC-\", \"Tarjeta Crédito\", \"Crédito\", \"TC\"\n   - Si el usuario dice \"tarjeta\" (sin especificar) → busca TODOS los formatos de débito Y crédito\n   - Si el usuario dice \"transferencia\" → busca \"TR--\", \"Transferencia\", \"TR\", \"TR-\"\n   - SIEMPRE usa múltiples condiciones OR para cubrir todos los formatos posibles\n   - **CRÍTICO:** Usa JSON_EXTRACT(metodo_pago, '$[*].tipo') LIKE '%valor%', NO uses JSON_CONTAINS con tercer parámetro de ruta\n\n**VERIFICACIÓN ADICIONAL:**\n\nAntes de devolver el SQL, verifica:\n6. ¿Estoy consultando metodo_pago? → Si SÍ, ¿estoy buscando TODOS los formatos posibles (abreviados y completos)? → Si NO, CORRIGE\n\n**📍 MANEJO DE CAMPOS JSON (CRÍTICO - LEE ESTO PRIMERO):**\n\nAlgunos campos almacenan datos como JSON strings (NO como strings simples). DEBES usar funciones JSON de MySQL para consultarlos.\n\n**CAMPOS JSON IDENTIFICADOS:**\n- `ventas.productos` - Array JSON: [{\"id\":\"1\",\"descripcion\":\"ALMACEN\",\"cantidad\":\"1\",\"categoria\":\"1\",\"stock\":\"0\",\"precio_compra\":\"0.00\",\"precio\":\"100\",\"total\":\"100\"}]\n- `ventas.metodo_pago` - Array JSON: [{\"tipo\":\"Efectivo\",\"entrega\":\"17569.20\"}]\n- `ventas.impuesto_detalle` - Objeto JSON con detalles de impuestos\n- `ventas.pedido_afip` - JSON con datos de pedido AFIP\n- `ventas.respuesta_afip` - JSON con respuesta AFIP\n- `presupuestos.productos` - Array JSON con estructura similar a ventas.productos\n- `presupuestos.metodo_pago` - Array JSON: [{\"tipo\":\"Efectivo\",\"entrega\":\"17569.20\"}]\n- `presupuestos.impuesto_detalle` - Objeto JSON con detalles de impuestos\n- `compras.productos` - Array JSON con estructura similar a ventas.productos\n- `pedidos.productos` - Array JSON con estructura similar a ventas.productos\n- `clientes_cuenta_corriente.metodo_pago` - JSON (puede ser NULL)\n\n\n**ESTRUCTURA DEL CAMPO productos EN ventas:**\n\nEl campo `ventas.productos` es un array JSON con la siguiente estructura:\n`[{\"id\":\"1\",\"descripcion\":\"ALMACEN\",\"cantidad\":\"1\",\"categoria\":\"1\",\"stock\":\"0\",\"precio_compra\":\"0.00\",\"precio\":\"100\",\"total\":\"100\"}]`\n\n**EJEMPLOS DE CONSULTAS PARA productos:**\n\nUsuario pregunta: \"ventas con producto id 1\"\n✅ CORRECTO: SELECT * FROM ventas WHERE JSON_EXTRACT(productos, '$[*].id') LIKE '%1%'\n\nUsuario pregunta: \"ventas con producto que contiene 'ALMACEN'\"\n✅ CORRECTO: SELECT * FROM ventas WHERE JSON_EXTRACT(productos, '$[*].descripcion') LIKE '%ALMACEN%'\n\nUsuario pregunta: \"ventas con categoría 1\"\n✅ CORRECTO: SELECT * FROM ventas WHERE JSON_EXTRACT(productos, '$[*].categoria') LIKE '%1%'\n\n**IMPORTANTE PARA productos:**\n- Usa JSON_EXTRACT(productos, '$[*].campo') para extraer un campo específico del array\n- Campos disponibles: id, descripcion, cantidad, categoria, stock, precio_compra, precio, total\n- Usa LIKE '%valor%' para buscar el valor que el usuario menciona\n\n\n**🚨🚨🚨 CRÍTICO: JSON_TABLE PARA AGREGACIONES 🚨🚨🚨**\n\n**PROBLEMA:** Cuando necesitas hacer agregaciones (SUM, COUNT, GROUP BY) sobre campos JSON, NO uses JSON_EXTRACT con agregaciones.\n**SOLUCIÓN:** DEBES usar JSON_TABLE para \"desnormalizar\" el array JSON y luego hacer agregaciones normalmente.\n\n**REGLA OBLIGATORIA:**\n- ❌ NUNCA uses: SELECT SUM(JSON_EXTRACT(productos, '$[*].cantidad')) FROM ventas\n- ❌ NUNCA uses: SELECT JSON_EXTRACT(productos, '$[*].descripcion'), SUM(...) GROUP BY ...\n- ✅ SIEMPRE usa: JSON_TABLE para convertir el array JSON en filas, luego agrega normalmente\n\n**SINTAXIS CORRECTA DE JSON_TABLE:**\n\n```sql\nSELECT p.campo AS alias,\n       SUM(p.otro_campo) AS total\nFROM tabla,\nJSON_TABLE(campo_json, '$[*]' COLUMNS (\n    campo VARCHAR(255) PATH '$.campo',\n    otro_campo DECIMAL(10,3) PATH '$.otro_campo'\n)) AS p\nWHERE condiciones\nGROUP BY p.campo\n```\n\n**EJEMPLOS CORRECTOS CON JSON_TABLE:**\n\nUsuario pregunta: \"producto más vendido en 2025\" o \"qué producto se vendió más\"\n❌ INCORRECTO: SELECT JSON_UNQUOTE(JSON_EXTRACT(productos, '$[*].descripcion')) AS producto, SUM(JSON_UNQUOTE(JSON_EXTRACT(productos, '$[*].cantidad'))) AS total_vendido FROM ventas WHERE YEAR(fecha) = 2025 GROUP BY producto\n✅ CORRECTO: SELECT p.descripcion AS producto, SUM(p.cantidad) AS total_vendido FROM ventas, JSON_TABLE(productos, '$[*]' COLUMNS (descripcion VARCHAR(255) PATH '$.descripcion', cantidad DECIMAL(10,3) PATH '$.cantidad')) AS p WHERE YEAR(fecha) = 2025 GROUP BY p.descripcion ORDER BY total_vendido DESC LIMIT 1\n\nUsuario pregunta: \"total recaudado por producto\" o \"ventas agrupadas por producto\"\n❌ INCORRECTO: SELECT JSON_EXTRACT(productos, '$[*].descripcion'), SUM(JSON_EXTRACT(productos, '$[*].total')) FROM ventas GROUP BY ...\n✅ CORRECTO: SELECT p.descripcion AS producto, SUM(p.total) AS total_recaudado FROM ventas, JSON_TABLE(productos, '$[*]' COLUMNS (descripcion VARCHAR(255) PATH '$.descripcion', total DECIMAL(10,2) PATH '$.total')) AS p GROUP BY p.descripcion ORDER BY total_recaudado DESC\n\nUsuario pregunta: \"cantidad total vendida de producto id 1\"\n❌ INCORRECTO: SELECT SUM(JSON_EXTRACT(productos, '$[*].cantidad')) FROM ventas WHERE JSON_EXTRACT(productos, '$[*].id') LIKE '%1%'\n✅ CORRECTO: SELECT SUM(p.cantidad) AS total_vendido FROM ventas, JSON_TABLE(productos, '$[*]' COLUMNS (id VARCHAR(50) PATH '$.id', cantidad DECIMAL(10,3) PATH '$.cantidad')) AS p WHERE p.id = '1'\n\n**IMPORTANTE PARA JSON_TABLE:**\n- JSON_TABLE convierte cada elemento del array JSON en una fila separada\n- Después puedes usar SUM, COUNT, GROUP BY normalmente sobre las columnas del JSON_TABLE\n- Define los tipos de datos correctos en COLUMNS (VARCHAR para strings, DECIMAL para números)\n- Usa alias (AS p) para referenciar las columnas del JSON_TABLE\n- Para productos: campos comunes son descripcion (VARCHAR), cantidad (DECIMAL), total (DECIMAL), id (VARCHAR), categoria (VARCHAR)\n\n**CUÁNDO USAR JSON_TABLE vs JSON_EXTRACT:**\n- **JSON_TABLE:** Cuando necesitas SUM, COUNT, GROUP BY, ORDER BY sobre campos JSON\n- **JSON_EXTRACT con LIKE:** Cuando solo necesitas filtrar (WHERE) sin agregaciones\n\n**❌ ERRORES CRÍTICOS QUE DEBES EVITAR:**\n\n**ERROR 5: Consultar campos JSON como strings simples**\n❌ INCORRECTO: SELECT COUNT(*) FROM ventas WHERE metodo_pago = 'efectivo'\n❌ INCORRECTO: SELECT * FROM ventas WHERE metodo_pago LIKE '%Efectivo%'\n✅ CORRECTO: SELECT COUNT(*) FROM ventas WHERE JSON_EXTRACT(metodo_pago, '$[*].tipo') LIKE '%Efectivo%'\n\n**ERROR 6: No usar funciones JSON para campos JSON**\n❌ INCORRECTO: SELECT * FROM ventas WHERE productos = '123'\n❌ INCORRECTO: SELECT * FROM ventas WHERE productos LIKE '%123%' (sin JSON_EXTRACT)\n✅ CORRECTO: SELECT * FROM ventas WHERE JSON_EXTRACT(productos, '$[*].id') LIKE '%123%'\n\n**FUNCIONES JSON DE MYSQL QUE DEBES USAR:**\n\n1. **JSON_EXTRACT(campo, ruta) LIKE '%valor%'** - Extrae valores del JSON y busca con LIKE (solo para filtrar)\n   - Para metodo_pago: `JSON_EXTRACT(ventas.metodo_pago, '$[*].tipo') LIKE '%Efectivo%'`\n   - Para productos (solo WHERE): `JSON_EXTRACT(ventas.productos, '$[*].id') LIKE '%1%'`\n   - **USO:** Solo para condiciones WHERE, NO para agregaciones\n   - **IMPORTANTE:** El valor después de LIKE viene de lo que el usuario pregunta\n   - Esta sintaxis es compatible con MySQL Hostinger\n\n2. **JSON_TABLE(campo, ruta, COLUMNS)** - Convierte array JSON en filas (para agregaciones)\n   - Ejemplo: `JSON_TABLE(productos, '$[*]' COLUMNS (descripcion VARCHAR(255) PATH '$.descripcion', cantidad DECIMAL(10,3) PATH '$.cantidad')) AS p`\n   - **USO:** Cuando necesitas SUM, COUNT, GROUP BY sobre campos JSON\n   - Convierte cada elemento del array en una fila, luego puedes agregar normalmente\n   - Define tipos: VARCHAR para strings, DECIMAL para números\n\n3. **JSON_EXTRACT(campo, ruta)** - Extrae un valor específico del JSON\n   - Ejemplo: `JSON_EXTRACT(ventas.metodo_pago, '$[0].entrega')` - Extrae el campo \"entrega\" del primer elemento\n\n3. **JSON_SEARCH(campo, tipo, valor, ruta)** - Busca un valor y devuelve la ruta\n   - Ejemplo: `JSON_SEARCH(ventas.productos, 'one', '123', NULL, '$[*].id_producto')`\n\n**EJEMPLOS ESPECÍFICOS CORRECTOS:**\n\nUsuario pregunta: \"ventas pagadas en efectivo\"\n❌ NUNCA hagas: SELECT COUNT(*) FROM ventas WHERE metodo_pago = 'efectivo'\n✅ SIEMPRE haz: SELECT COUNT(*) FROM ventas WHERE JSON_EXTRACT(metodo_pago, '$[*].tipo') LIKE '%Efectivo%'\n\nUsuario pregunta: \"ventas con producto id 123\" (solo filtrar)\n❌ NUNCA hagas: SELECT * FROM ventas WHERE productos LIKE '%123%' (sin JSON_EXTRACT)\n✅ SIEMPRE haz: SELECT * FROM ventas WHERE JSON_EXTRACT(productos, '$[*].id') LIKE '%123%'\n\nUsuario pregunta: \"producto más vendido\" o \"total vendido por producto\" (agregación)\n❌ NUNCA hagas: SELECT SUM(JSON_EXTRACT(productos, '$[*].cantidad')) FROM ventas\n✅ SIEMPRE haz: SELECT p.descripcion AS producto, SUM(p.cantidad) AS total_vendido FROM ventas, JSON_TABLE(productos, '$[*]' COLUMNS (descripcion VARCHAR(255) PATH '$.descripcion', cantidad DECIMAL(10,3) PATH '$.cantidad')) AS p GROUP BY p.descripcion ORDER BY total_vendido DESC\n\nUsuario pregunta: \"ventas pagadas con tarjeta\"\n❌ NUNCA hagas: SELECT * FROM ventas WHERE metodo_pago = 'tarjeta'\n✅ SIEMPRE haz: SELECT * FROM ventas WHERE JSON_EXTRACT(metodo_pago, '$[*].tipo') LIKE '%TD-%' OR JSON_EXTRACT(metodo_pago, '$[*].tipo') LIKE '%TC-%' OR JSON_EXTRACT(metodo_pago, '$[*].tipo') LIKE '%Tarjeta Débito%' OR JSON_EXTRACT(metodo_pago, '$[*].tipo') LIKE '%Tarjeta Crédito%' OR JSON_EXTRACT(metodo_pago, '$[*].tipo') LIKE '%TD%' OR JSON_EXTRACT(metodo_pago, '$[*].tipo') LIKE '%TC%'\n\n**PASO ADICIONAL EN EL CHECKLIST:**\n\n□ PASO 7: Si el campo que vas a usar está en la lista de campos JSON arriba:\n   - NUNCA uses comparaciones directas (=, etc.) sin funciones JSON\n   - **Para filtrar (WHERE):** Usa JSON_EXTRACT con LIKE\n     - metodo_pago: JSON_EXTRACT(metodo_pago, '$[*].tipo') LIKE '%valor%'\n     - productos: JSON_EXTRACT(productos, '$[*].campo') LIKE '%valor%'\n   - **Para agregaciones (SUM, COUNT, GROUP BY):** Usa JSON_TABLE\n     - Convierte el array JSON en filas usando JSON_TABLE\n     - Luego usa SUM, COUNT, GROUP BY normalmente sobre las columnas del JSON_TABLE\n   - **CRÍTICO:** El valor después de LIKE viene de lo que el usuario pregunta\n   - Verifica la estructura del JSON en la descripción del campo\n\n**VERIFICACIÓN FINAL ADICIONAL:**\n\nAntes de devolver el SQL, verifica:\n5. ¿Estoy usando algún campo de la lista de campos JSON? → Si SÍ, ¿estoy usando funciones JSON? → Si NO, CORRIGE\n\n\n\n\n\n**SEGURIDAD:**\n- SOLO SELECT (nunca INSERT, UPDATE, DELETE, DROP, ALTER)\n- NUNCA incluyas campos sensibles: password, pass, pwd, contraseña, token, api_key, secret, private_key, access_token, refresh_token, auth_token, session_id\n- Si el usuario pregunta por contraseñas, responde que no puedes mostrar esa información\n\n**FORMATO:**\n- Fechas en formato MySQL: YYYY-MM-DD\n- Usa nombres de tablas y columnas EXACTOS del esquema (case-sensitive)\n\n**RECUERDA: Si no completas el checklist, generarás SQL incorrecto. El esquema es tu ÚNICA fuente de verdad. Si no está en el esquema, NO existe. NUNCA inventes tablas o campos.**"
        }
      },
      "id": "2274609d-98ca-4778-a848-2a2f5eaa92dc",
      "name": "SQL Query Generator Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1008,
        -16
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "cf0e45b0-1ab9-47f9-afaa-96aa08ca9f49",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1024,
        208
      ],
      "credentials": {
        "openAiApi": {
          "id": "EgdkzfxvipBYg2yo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "0e253ebc-08f6-4ddb-b0d3-b004ddaf22d1",
      "name": "Conversation Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        512,
        208
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"needsMoreInfo\": {\n      \"type\": \"boolean\",\n      \"description\": \"Indicates whether more information is needed from the user\"\n    },\n    \"clarificationMessage\": {\n      \"type\": \"string\",\n      \"description\": \"Message to ask the user for clarification when needsMoreInfo is true\"\n    },\n    \"sqlQuery\": {\n      \"type\": \"string\",\n      \"description\": \"The generated SQL query when needsMoreInfo is false\"\n    },\n    \"explanation\": {\n      \"type\": \"string\",\n      \"description\": \"Explanation of what the SQL query does when needsMoreInfo is false\"\n    }\n  },\n  \"required\": [\"needsMoreInfo\"],\n  \"oneOf\": [\n    {\n      \"properties\": {\n        \"needsMoreInfo\": { \"const\": true },\n        \"clarificationMessage\": { \"type\": \"string\" }\n      },\n      \"required\": [\"clarificationMessage\"]\n    },\n    {\n      \"properties\": {\n        \"needsMoreInfo\": { \"const\": false },\n        \"sqlQuery\": { \"type\": \"string\" },\n        \"explanation\": { \"type\": \"string\" }\n      },\n      \"required\": [\"sqlQuery\", \"explanation\"]\n    }\n  ]\n}"
      },
      "id": "ef205e97-a6ee-48d6-bdda-a5098bb813ec",
      "name": "SQL Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1152,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.sqlQuery }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d3cec08c-24ab-4f0a-9d80-7b509df124b9",
      "name": "Validate SQL Query Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1552,
        80
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sqlQuery }}",
        "options": {}
      },
      "id": "03fddf3c-823e-41c8-b87a-7c85fd71db7c",
      "name": "Execute SQL Query",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        1728,
        192
      ],
      "credentials": {
        "mySql": {
          "id": "WSGP2lMOUQJIrVT4",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtener datos del agente\nconst agentOutput = $('Extract JSON Response').first().json;\nconst needsMoreInfo = agentOutput.needsMoreInfo || false;\nconst clarificationMessage = agentOutput.clarificationMessage || '';\nconst explanation = agentOutput.explanation || '';\nconst sqlQuery = agentOutput.sqlQuery || '';\n\n// Si necesita más información, devolver solo el mensaje de aclaración\nif (needsMoreInfo) {\n  return [{\n    json: {\n      text: clarificationMessage\n    }\n  }];\n}\n\n// Intentar obtener resultados de SQL\nlet sqlResults = [];\ntry {\n  const sqlNode = $('Execute SQL Query');\n  if (sqlNode && sqlNode.all().length > 0) {\n    sqlResults = sqlNode.all().map(item => item.json);\n  }\n} catch (e) {\n  // Si no hay resultados o el nodo no se ejecutó, continuar\n}\n\n// Lista de campos sensibles que NUNCA deben mostrarse\nconst camposSensibles = [\n  'password', 'pass', 'pwd', 'contraseña', 'passwd',\n  'token', 'api_key', 'secret', 'private_key', 'access_token',\n  'refresh_token', 'auth_token', 'session_id', 'session_key'\n];\n\n// Función para verificar si un campo es sensible\nfunction esCampoSensible(nombreCampo) {\n  const nombreLower = nombreCampo.toLowerCase();\n  return camposSensibles.some(campo => nombreLower.includes(campo.toLowerCase()));\n}\n\n// Filtrar campos sensibles de los resultados\nsqlResults = sqlResults.map(row => {\n  const rowFiltrado = {};\n  Object.keys(row).forEach(key => {\n    if (!esCampoSensible(key)) {\n      rowFiltrado[key] = row[key];\n    }\n  });\n  return rowFiltrado;\n});\n\n// Función para formatear valores\nfunction formatearValor(value) {\n  if (value === null || value === undefined) {\n    return 'N/A';\n  }\n  if (value instanceof Date) {\n    return value.toLocaleString('es-ES', { \n      year: 'numeric', \n      month: '2-digit', \n      day: '2-digit',\n      hour: '2-digit',\n      minute: '2-digit'\n    });\n  }\n  if (typeof value === 'number') {\n    return value.toLocaleString('es-ES');\n  }\n  return String(value);\n}\n\n// Formatear la respuesta final\nlet formattedResponse = '';\n\n// Agregar explicación si existe\nif (explanation) {\n  formattedResponse += explanation + '\\n\\n';\n}\n\n// Si hay resultados de SQL, formatearlos\nif (sqlResults.length > 0 && Object.keys(sqlResults[0]).length > 0) {\n  formattedResponse += '📊 **Resultados:**\\n\\n';\n  \n  // Obtener nombres de columnas del primer resultado (ya filtradas)\n  const columns = Object.keys(sqlResults[0]);\n  \n  // Formatear como tabla markdown limpia\n  if (sqlResults.length <= 20) {\n    // Crear tabla markdown con formato correcto\n    const header = '| ' + columns.map(c => c.charAt(0).toUpperCase() + c.slice(1)).join(' | ') + ' |';\n    const separator = '|' + columns.map(() => '---').join('|') + '|';\n    \n    formattedResponse += header + '\\n';\n    formattedResponse += separator + '\\n';\n    \n    // Agregar filas\n    sqlResults.forEach(row => {\n      const rowData = columns.map(col => {\n        const value = formatearValor(row[col]);\n        // Limpiar y truncar valores largos\n        const cleanValue = value.replace(/\\|/g, '│').replace(/\\n/g, ' ').substring(0, 80);\n        return cleanValue || 'N/A';\n      });\n      formattedResponse += '| ' + rowData.join(' | ') + ' |\\n';\n    });\n  } else {\n    // Para muchos registros, usar formato de lista más compacto\n    formattedResponse += `*Mostrando los primeros 20 de ${sqlResults.length} registros*\\n\\n`;\n    \n    sqlResults.slice(0, 20).forEach((row, index) => {\n      formattedResponse += `**Registro ${index + 1}:**\\n`;\n      columns.forEach(col => {\n        const value = formatearValor(row[col]);\n        const cleanValue = value.replace(/\\n/g, ' ').substring(0, 150);\n        formattedResponse += `  • ${col}: ${cleanValue}\\n`;\n      });\n      formattedResponse += '\\n';\n    });\n    \n    if (sqlResults.length > 20) {\n      formattedResponse += `*... y ${sqlResults.length - 20} registros más*\\n\\n`;\n    }\n  }\n  \n  formattedResponse += `\\n**Total:** ${sqlResults.length} registro${sqlResults.length !== 1 ? 's' : ''}`;\n} else {\n  // Si no hay resultados pero hay una consulta SQL, informar\n  if (sqlQuery) {\n    formattedResponse += '✅ La consulta se ejecutó correctamente, pero no se encontraron resultados.';\n  } else {\n    formattedResponse += '❌ No se pudo generar una consulta SQL válida.';\n  }\n}\n\n// Devolver respuesta formateada para el chat\nreturn [{\n  json: {\n    text: formattedResponse.trim(),\n    output: formattedResponse.trim(),\n    respuesta: formattedResponse.trim(),\n    message: formattedResponse.trim()\n  }\n}];"
      },
      "id": "8cfaf19e-4959-4025-beb7-52ef339b9115",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1856,
        -32
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extraer y parsear el JSON del output del modelo\nconst input = $input.first().json;\n\n// El output del Agent puede venir en diferentes formatos\nlet rawOutput = '';\n\n// Intentar obtener el texto de respuesta del modelo\nif (input.output) {\n  rawOutput = typeof input.output === 'string' ? input.output : JSON.stringify(input.output);\n} else if (input.text) {\n  rawOutput = input.text;\n} else if (input.response) {\n  rawOutput = input.response;\n} else if (typeof input === 'string') {\n  rawOutput = input;\n} else {\n  rawOutput = JSON.stringify(input);\n}\n\n// Limpiar el output: remover markdown code blocks si existen\nrawOutput = rawOutput.replace(/```json\\s*/g, '').replace(/```\\s*/g, '').trim();\n\n// Intentar extraer JSON del texto\nlet parsedData = null;\n\n// Buscar JSON en el texto\nconst jsonMatch = rawOutput.match(/\\{[^}]*\\}/s);\nif (jsonMatch) {\n  try {\n    parsedData = JSON.parse(jsonMatch[0]);\n  } catch (e) {\n    // Si falla, intentar parsear todo el texto\n    try {\n      parsedData = JSON.parse(rawOutput);\n    } catch (e2) {\n      // Si hay un campo output anidado\n      if (input.output && typeof input.output === 'object') {\n        parsedData = input.output;\n      } else {\n        parsedData = input;\n      }\n    }\n  }\n} else {\n  // Si no hay JSON, usar el input directamente\n  parsedData = input.output || input;\n}\n\n// Extraer los campos necesarios\nlet needsMoreInfo = false;\nlet clarificationMessage = '';\nlet sqlQuery = '';\nlet explanation = '';\n\nif (parsedData) {\n  // Si está anidado en 'output'\n  if (parsedData.output && typeof parsedData.output === 'object') {\n    parsedData = parsedData.output;\n  }\n  \n  needsMoreInfo = parsedData.needsMoreInfo === true;\n  clarificationMessage = parsedData.clarificationMessage || '';\n  sqlQuery = parsedData.sqlQuery || '';\n  explanation = parsedData.explanation || '';\n}\n\n// Si no se pudo extraer nada útil y el mensaje es simple como \"hola\", pedir aclaración\nif (!needsMoreInfo && !sqlQuery && !clarificationMessage && rawOutput.toLowerCase().includes('hola')) {\n  needsMoreInfo = true;\n  clarificationMessage = '¡Hola! ¿En qué puedo ayudarte? Puedo consultar información sobre ventas, productos, stock, clientes y más. ¿Qué necesitas saber?';\n}\n\nreturn [{\n  json: {\n    needsMoreInfo: needsMoreInfo,\n    clarificationMessage: clarificationMessage,\n    sqlQuery: sqlQuery,\n    explanation: explanation,\n    rawOutput: rawOutput\n  }\n}];"
      },
      "id": "5132abe7-8845-4731-a28e-c79f7f1f53c6",
      "name": "Extract JSON Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        -16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.needsMoreInfo }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e6433ff0-c9a0-46d4-b95f-a60531a3d530",
      "name": "Check If Needs Clarification",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1360,
        -16
      ]
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "SQL Query Generator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL Query Generator Agent": {
      "main": [
        [
          {
            "node": "Extract JSON Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "SQL Query Generator Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "SQL Query Generator Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Chat Trigger",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Validate SQL Query Exists": {
      "main": [
        [],
        [
          {
            "node": "Execute SQL Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute SQL Query": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract JSON Response": {
      "main": [
        [
          {
            "node": "Check If Needs Clarification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Needs Clarification": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validate SQL Query Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "56d5dfb874ed14e16e25c8104bf7be18bef2408749468d2935c8cf23738884c4"
  }
}